*.iml
.DS_Store
.externalNativeBuild
.gradle/
.idea/assetWizardSettings.xml
.idea/caches
.idea/libraries
.idea/misc.xml
.idea/navEditor.xml
.idea/other.xml
.idea/deploymentTargetDropDown.xml
.idea/deploymentTargetSelector.xml
.idea/workspace.xml
build/
captures/

app/src/main/assets
assetstest/src/main/assets
local.properties
